$black: #000;
$grey: #6c757d;

.main-container {
    margin-top: 40px;
}

.btns-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.filter-list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 10px;
}

.filter-label {
    margin-left: 5px;
    margin-bottom: 0;
    cursor: pointer;
}

.events-wrapper {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 670px) {
        flex-wrap: nowrap;
    }    
}

.events {
    width: 100%;

    @media screen and (min-width: 670px) {
        width: 50%;
        margin-right: 20px;
    }
}

.event-wrap {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid $grey;
    border-radius: 4px;
}

.event-title {
    margin-right: 10px;
    font-weight: 600;

    @media screen and (min-width: 670px) {
        display: inline-block;
    }
}

.event-price {
    display: inline-block;
}

.event-favorite {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 5px 8px;
    line-height: 1;
}

.favorites {
    width: 100%;

    @media screen and (min-width: 670px) {
        width: 50%;
    }

    &-title {
        display: none;
    }
}

.btn-icon {
    transition: transform 300ms;
    font-size: 24px;
    line-height: 1;
    display: none;
    margin-right: 5px;

    &.is-up {
        transform: rotate(180deg);
    }
}
